@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel:wght@600&family=Rubik+Scribble&family=Silkscreen&display=swap');


.min-h-screen{
 
    min-height: 100vh;
}

/*       */

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.flex{
display: flex;
}

.item-center{
    align-items: center;
}

.justify-between{
    justify-content:space-between ;
}
.justify-center{
    justify-content: center;
}

.text-center{
    text-align: center;
}

.flex-col{
    flex-direction: column;
}

.font-bold{
    font-weight: bolder;
}

.px2{
    padding-left:13px ;
    padding-right:13px ;
}
.my1{
    margin-top: 13px;
    margin-bottom: 13px;
}

.textred{
    color: black;
    font-size: 5ch;
    /* -webkit-text-stroke: 1px red ; */
    /* color: transparent; */
    font-family: 'Cinzel', serif;
    letter-spacing: 1px;
}

.btn{
    padding: 4px 12px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 4px;
    color:white;
    background-color: red;
    cursor: pointer;
    font-family: 'Silkscreen', serif;
}

.overflow-x-hidden{
    overflow-x: hidden;
}

.highlight{
    font-size: 1.5rem;
    font-weight: 530;
}
